<h1 class="section-title">Photo Gallery</h1>
<div class="row">
  <div class="gallery-container">
    <ul class="photo-gallery column">
      <% Dir.glob('app/assets/images/gallery/*').map do |path| %>
        <%= image_tag "gallery/#{ File.basename(path) }" %>
      <% end.reduce(&:+) %>
    </ul>
  </div>
</div>
