<% provide(:title, "Gallery") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | NODRA Sailing</title>
  </head>
  <body>
    <h1>NODRA</h1>
    <p>
        Gallery page for Nodra
    </p>
  </body>
</html>