<div class="join-container">
  <h1 class="section-title">Join Us!</h2>
    <p>In order to join, please:</p>
      <ol class="directions-list">
        <li>Please print and fill out <%= link_to "this form", "#" %></li>
        <li>Send form and payment to:</li>
          <br>
          <div class="jumbrotron">
            <p class="lead">Jolly Booth NOD#774</p>
            <p class="lead">1225 East Bronson St.</p>
            <p class="lead">South Bend, IN 46615</p>
          </div>
      </ol>
      <p><strong>NODRA Dues are payable April 1st of each year, and entitle members to full rights and privileges thru March 31 of the next calendar year.  HELP N.O.D.R.A. G-R-O-W and become a member in “Good Standing” today!</strong></p>
      <p>Annually we update our roster of members and individuals interested in the National One-Design sailboat.  For active members it is time for dues to be paid to the National One-Design Racing Association.  NODRA maintains and promotes the class, protects the design, organizes area world championships, publicizes activities, seeks out and assists builders, and provides communications throughout the world.  This activity requires hours of volunteer labor, postage, phone calls, letter writing, etc.  For those who are not active on the racing circuit, but who maintain an interest in the NOD class, the Associate Membership is recommended.  Please help us today!</p>
      <p>Regardless of your continued interest, we request that you return this form.  Thank you. Please continue to print this form out and mail in. Thanks.</p>
</div>