<h3 class="section-title">Mast/Spar Information</h3>
<hr>
<p>Although originally designed as a wooden-mast, keel-stepped sloop in 1937, current NOD boats use state-of-the-art aluminum masts and booms.  All modern fiberglass Nationals are required to be "deck stepped." Several different types and manufacturers of masts have been used through the years.  For example, some of the older fiberglass boats still in use are rigged with the "RAY GREEN" mast which is a thick, wide, and rigid spar.  Since modern day sails are designed with significant trim capability, most current NOD sailors use spars that will work with an adjustable back-stay system.  In all cases, the spars in use are strong enough for trapeze fittings to be used.<p>
<p>As of 2005, the two main sources of spars/masts for National One-Designs are DWYER and PROCTOR/SELDEN.  The DWYER set-up uses the DM284 section for the Mast and the DM275 section for the Boom.<p>
<p>The PROCTOR/SELDEN spar is the GAMMA Section used for the NOD Mast.  Booms sections vary.<p>
<p>Below are HOT links for specifications and characteristics of the two most popular masts in use:<p>
<p><%= link_to 'Dwyer Spars', 'http://www.dwyermast.com/families.asp?cat1ID=20&cat1Name=Masts' %></p>
<p><%= link_to 'Proctor/Selden', 'http://www.proctormasts.co.uk/dinghy/compare.asp' %></p>
<p>NOTE:  While carbon masts are beginning to appear in a few dinghy classes, NODRA has not permitted their use on NOD Boats because of cost and possible competition concerns.<p>
<p>For more information, contact Paul J. Sniadecki, NOD #823<p>