<h2 align="center">Title: <%= @article.title %></h2>
<%= link_to 'See all posts', blog_path %>
<div class="well col-xs-8 col-xs-offset-2">
    <h4 class="center"><strong>Description:</strong></h4>
    <hr>
    <%= simple_format(@article.description) %>
</div>