<h1 align="center"><div class="blue">NODRA</div><div class="orange">chat</div></h1>
<p>Welcome to NODRAchat, please sign up for an account to create posts or comment</p>
<%= render 'form', user: @user %>
<%= render 'layouts/errors', obj: @user %>
